.ToDo {
  padding: 1em 3em;
  background: rgba(0, 0, 0, 0.082);
  margin-bottom: 4px;
  font-weight: bold;
}

.ToDo-inner-container {
  display: flex;
}

.ToDo-item {
  flex: 10;
}

.ToDo-button {
  flex: 1;
  background: none;
  border: none;
  font-size: 1rem;
  color: #FF7C64;
  cursor: pointer;
  transition: color .3s;
}

.ToDo-button:hover {
  color: rgb(255, 91, 62);
}

.ToDo-button > * {
  /* when clicking buttons, we want the buttons to be the target,
  not the svgs inside them */
  pointer-events: none;
}

.ToDo-inline-input-container {
  display: flex;
}

.ToDo-inline-input {
  padding: 1rem;
  flex: 10;
  font-size: 1rem;
}

.ToDo-inline-save-button {
  flex-grow: 2;
  background-color: #FF7D64;
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
  flex-grow: 1;
  border: 0;
  transition: background-color .4s;
  cursor: pointer;
}